* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.active {
  text-decoration: underline;
  font-weight: bold;
  color: crimson;
}
body,
html {
  overflow-x: hidden;
}

/* navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: white;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin: 0 30px;
}
.nav-links li a {
  color: white;
}

header {
  width: 100%;
  height: 100vh;
  background: url(./img/sun.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-content {
  margin-bottom: 15rem;
  color: whitesmoke;
  text-align: center;
}
.header-content h2 {
  font-size: 4vmin;
}
.line {
  width: 150px;
  height: 4px;
  background: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}
.ctn {
  padding: 8px 15px;
  background: crimson;
  border-radius: 30px;
  color: whitesmoke;
  transition: 0.3s;
}
/* .ctn:hover{
    transform: scale(1.1);
    color: black;
    background-color: whitesmoke;
} */

.fa-bars {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  font-size: 2.5rem;
  display: none;
}

/* Events */
section {
  width: 80%;
  margin: 80px auto;
}
.title {
  text-align: center;
  font-size: 4vmin;
  color: #49497e;
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events .row {
  margin-top: 50px;
}
h4 {
  font-size: 3vmax;
  color: #484872;
  margin: 30px auto;
}
p {
  color: #7c7c7c;
  padding: 0px 40px;
}
.events .ctn {
  margin-top: 30px;
}
img {
  width: 70%;
}

.explore {
  width: 100%;
  height: 100vh;
  background-image: url(./img/rocks&sea.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.explore-content {
  width: 70%;
  padding: 50px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;
}
.explore-content h1 {
  font-size: 7vmin;
  /* padding-left: 10rem; */
}
.explore-content .line {
  margin-bottom: 50px;
}
.explore-content p {
  color: rgb(15, 14, 14);
  /* padding-left: 15rem; */
}
.explore-content .ctn {
  margin-top: 40px;
}
.content-col {
  width: 40%;
}
.image-col {
  width: 60%;
}

.tours .row .col {
  width: 50%;
}
.tours .image-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.image-gallery img {
  max-width: 250px;
  margin: 10px;
}
.content-col h1 {
  font-size: 7vmin;
  color: #484872;
}
.content-col .line {
  margin-left: -1px;
}
.content-col p {
  padding: 0;
  margin: 30px auto;
}
/* .content-col .ctn{
    margin-left: px;
} */

.footer {
  width: 100%;
  min-height: 200px;
  padding: 20px 80px;
  margin: 0px;
  background: #484872;
  text-align: center;
}
.footer p {
  color: whitesmoke;
  margin: 20px auto;
}

/* responsive */
@media only screen and (max-width: 850px) {
  .navbar {
    padding: 0;
  }
  .fa-bars {
    display: block;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: cornflowerblue;
    margin-top: -900px;
    transition: all 0.5s;
  }
  .mobile-menu {
    margin-top: 0px;
    border-bottom-right-radius: 9rem;
  }
  .nav-links li {
    margin: 30px auto;
  }
  /* events */
  .row {
    flex-direction: column;
  }
  .row .col {
    margin: 20px auto;
  }
  .col img {
    max-width: 90%;
  }
  /* explore */
  .explore-content {
    width: 100%;
  }
  .tours.col {
    width: 100%;
  }
  .image-gallery {
    justify-content: center;
    align-items: center;
  }
  .image-gallery img {
    width: 90%;
  }
  .footer {
    padding: 10px;
  }
}

/* animations */
img {
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.1);
  box-shadow: 3px 4px 7px black;
}
.ctn:hover {
  background: whitesmoke;
  color: #fc036b;
  box-shadow: 2px 2px 5px black;
  transform: scale(1.1);
}
li:hover {
  color: #fc036b;
  cursor: zoom-out;
}
